
body{
    padding:50px 20%;
    font-family: Hanalei Fill
}

h1 {
  
    text-transform: uppercase;
    color: steelblue
    
}

h2 {
    color:plum;
    text-align:right;
    border-bottom-style:solid;
    border-color: lightslategray;
    border-width: 1px;
}

h3{
    text-align:center
}

p {
    padding: 20px 20px;
    font-family: Georgia, serif;
    color: lightslategray;
    text-align:justify;
    font-style:italic
}

hr {
    color: lightslategray;
    border-width: 1px;
    border-style: dotted;
    margin: 50px 50px
}

#big-achievement {
    color: red
}