


h1 {
    color: plum;
    text-align: center
}

h2 {
    color:plum;
    text-align:right;
    border-bottom-style:solid;
    border-color: lightslategray;
    border-width: 1px;
}

h3{
    text-align:center
}

p {
    padding: 20px 20px;
    font-family: Georgia, serif;
    color: lightslategray
}

hr {
    color: lightslategray;
    border-width: 1px;
    border-style: dotted;
    
}